body{
  background: #f2f2f2;
}
.topContainer{
  background: #fff;
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0px 1px 3px 1px #e9ecef;
  border-radius: 3px;
}
.chartFilter{
  float: right;
}
.chartTitle{
  display: inline-block;
  float: left;
  font-size: 20px;
  color: #838383;
  text-transform: capitalize;
}
.btn{
  display: inline-block;
  color: #bfbfbf;
  background: #f8f8f8;
  margin-left: 4px;
  border: 1px solid #e9ecef;
  width: 130px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 17px;
  padding: 0px;
}
.btn.active{
  box-shadow: 0px 1px 5px 1px #e9ecef;
  background: #fff;
  color: #2096EF;
}
#logo-chart {
  width: 15%;
}

#logo-bitbacket {
  width: 20%;
  float: right;
  margin-top: 11px;
}

.links {
  width: 30%;
  margin: 70px auto;
}
